spring:
  application:
    name: ribbon-client
eureka:
  client:
    serviceUrl:
      defaultZone: http://127.0.0.1:8180/eureka/,http://127.0.0.1:8181/eureka/,http://127.0.0.1:8182/eureka/
    fetch-registry: true
    register-with-eureka: true
server:
  port: 8186
